<div [formGroup]="form">
  <p class="text">
    {{ question.label }}
    <span *ngIf="required" class="question-required">*</span>
  </p>
  <img class="question-image" *ngIf="question.image" [src]="question.image" />
  <markdown
    *ngIf="question.description"
    class="question-markdown"
    [data]="question.description"
  ></markdown>
  <div [ngSwitch]="question.controlType">
    <ng-container *ngSwitchCase="'textbox'">
      <div [ngSwitch]="question.type">
        <ng-container *ngSwitchCase="'IMAGE'">
          <img class="image-upload" *ngIf="imageData" [src]="imageData" />
          <button
            type="button"
            mat-raised-button
            (click)="imgFileInput.click()"
          >
            Choose File
          </button>
          <input
            hidden
            #imgFileInput
            type="file"
            accept="image/*"
            (change)="saveImage($event.target.files)"
            [id]="question.key"
            [placeholder]="question.description || ''"
          />
          <app-error-message [label]="label" [control]="formControl"></app-error-message>
        </ng-container>
        <ng-template ngSwitchDefault>
          <mat-form-field>
            <input
              [value]="question.value"
              [formControlName]="question.key"
              [id]="question.key"
              [type]="question.type"
              matInput
              [placeholder]="question.description || ''"
            />
            <app-error-message [label]="label" [control]="formControl"></app-error-message>
          </mat-form-field>
        </ng-template>
      </div>
    </ng-container>
    <mat-form-field *ngSwitchCase="'dropdown'">
      <mat-select
        class="select"
        [formControlName]="question.key"
        [id]="question.key"
      >
        <mat-option
          *ngFor="let option of question.choices"
          [value]="option.value"
          >{{ option.label }}</mat-option
        >
      </mat-select>
      <app-error-message [label]="label" [control]="formControl"></app-error-message>
    </mat-form-field>
    <ng-container *ngSwitchCase="'subchoice'">
      <mat-form-field *ngIf="subChoices$ | async as choices">
        <mat-select
          class="select"
          [formControlName]="question.key"
          [id]="question.key"
        >
          <mat-option
            *ngFor="let option of choices"
            [value]="option.value"
            >{{ option.label }}</mat-option
          >
        </mat-select>
        <app-error-message [label]="label" [control]="formControl"></app-error-message>
      </mat-form-field>
    </ng-container>
    <mat-radio-group
      *ngSwitchCase="'radio'"
      [formControlName]="question.key"
      [id]="question.key"
    >
    {{ question | json}}
    {{ formControl.value}}
      <mat-radio-button
        *ngFor="let option of question.choices"
        [value]="option.value"
        >{{ option.label }}</mat-radio-button
      >
    </mat-radio-group>
    <!-- <nz-checkbox-wrapper
      *ngSwitchCase="'multiple-chocie'"
      [formControlName]="question.key"
      [id]="question.key"
    >
      <label
        nz-checkbox
        *ngFor="let choice of question.choices"
        [nzValue]="choice"
        [formControlName]="question.key"
        >{{ choice }}</label
      >
    </nz-checkbox-wrapper> -->
  </div>
</div>
