<div [formGroup]="form">
  <label [attr.for]="question.key">
    <p class="text">{{ question.label }}{{ question.required ? ' *' : '' }}</p>
  </label>
  <div [ngSwitch]="question.controlType">
    <ng-container *ngSwitchCase="'textbox'">
      <img class="image-upload" *ngIf="imageData" [src]="imageData" />
      <input
        *ngIf="question.type === 'IMAGE'; else text"
        type="file"
        accept="image/*"
        (change)="saveImage($event.target.files)"
        [id]="question.key"
        nz-input
        [placeholder]="question.description || ''"
        nzSize="large"
      />
      <ng-template #text>
        <input
          [value]="question.value"
          [formControlName]="question.key"
          [id]="question.key"
          [type]="question.type"
          nz-input
          [placeholder]="question.description || ''"
          nzSize="large"
        />
      </ng-template>
    </ng-container>
    <nz-select
      nzSize="large"
      nzPlaceHolder="select"
      class="select"
      *ngSwitchCase="'dropdown'"
      [formControlName]="question.key"
      [id]="question.key"
    >
      <nz-option
        *ngFor="let option of question.choices; index as i"
        [nzLabel]="option.label"
        [nzValue]="'' + i"
      ></nz-option>
    </nz-select>
    <nz-radio-group
      *ngSwitchCase="'radio'"
      [formControlName]="question.key"
      [nzName]="question.key"
      [id]="question.key"
    >
      <label
        class="radio-label"
        *ngFor="let option of question.choices; index as i"
        nz-radio
        [nzValue]="'' + i"
        >{{ option.label }}</label
      >
    </nz-radio-group>
    <nz-checkbox-wrapper
      *ngSwitchCase="'multiple-chocie'"
      [formControlName]="question.key"
      [id]="question.key"
    >
      <label
        nz-checkbox
        *ngFor="let choice of question.choices"
        [nzValue]="choice"
        [formControlName]="question.key"
        >{{ choice }}</label
      >
    </nz-checkbox-wrapper>
    <nz-radio-group
      *ngSwitchCase="'radio'"
      [formControlName]="question.key"
      [nzName]="question.key"
      [id]="question.key"
    >
      <label
        class="radio-label"
        *ngFor="let option of question.choices; index as i"
        nz-radio
        [nzValue]="'' + i"
        >{{ option }}</label
      >
    </nz-radio-group>
  </div>
  <div
    class="error-message"
    *ngIf="formControl && !isValid && (touched || dirty)"
  >
    <span *ngIf="isRequired" nz-text nzType="danger">{{
      'กรุณาใส่ข้อมูล' + question.label
    }}</span>
    <span *ngIf="isMax" nz-text nzType="danger">{{
      'max length is ' + formControl.errors.maxlength.requiredLength | translate
    }}</span>
    <span *ngIf="isMin" nz-text nzType="danger">{{
      'min length is ' + formControl.errors.minlength.requiredLength | translate
    }}</span>
    <span *ngIf="otherInvalid" nz-text nzType="danger"
      >{{ label }}ไม่ถูกต้อง</span
    >
  </div>
</div>
