input {
  background-color: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.02);
  border: 0;
  &:focus {
    box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.02);
  }
}

p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  mix-blend-mode: normal;
  opacity: 0.7;
  color: #000000;
}

.text {
  margin-bottom: 10px;
}

.error-message {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.radio-label {
  margin-bottom: 7px;
}
[nz-radio] {
  display: block;
}

.image {
  &-upload {
    max-width: 100%;
    max-height: 500px;
  }
}

.question{
  &-required {
    color: red;
  }
}