p {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;

  mix-blend-mode: normal;
  opacity: 0.7;
  color: #000000;
}

.text {
  margin-bottom: 10px;
}

.error-message {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.question{
  &-required {
    color: red;
  }
  &-image {
    width: 100%;
  }
  &-markdown {
    font-size: 12px;
  }
}

.image {
  &-upload {
    max-width: 100%;
    max-height: 500px;
  }
}

.form-radio {
  &-button {
    margin: 5px;
  }
}