<div class="big-container">
  <div class="navbar">
    <div class="container">
      <ng-container *ngIf="currentUser$ | async as user">
        <!-- <div nz-col nzSpan="6">
          <p style="color: white">
            Hello {{ user.info.firstName }} {{ user.info.lastName }}
          </p>
        </div>
        <button
          nz-col
          nz-offset="12"
          nzSpan="6"
          nz-button
          nzType="primary"
          (click)="logoutSSO()"
        >
          Logout from ChulaSSO
        </button> -->
      </ng-container>
      <div class="or-logo">
        <div>
          <app-svg-icon
            appDimension
            width="156"
            height="11"
            name="orlogo"
          ></app-svg-icon>
        </div>
      </div>
      <div class="vl">
        <div></div>
      </div>
      <div class="topic">
        <app-topic
          mainTextSize="14px"
          mainTextColor="#4D4D4D"
          textSpace="4px"
          mainText="Chula Loy Kratong 2019"
          subTextSize="10px"
          subTextColor="#B3B3B3"
          subText="REGISTRATION"
          subTextLs="2px"
        ></app-topic>
      </div>
    </div>
  </div>
</div>
