$openreg-test: (
    50 : #eaedf1,
    100 : #c9d2dc,
    200 : #a6b4c5,
    300 : #8295ae,
    400 : #677f9c,
    500 : #4c688b,
    600 : #456083,
    700 : #3c5578,
    800 : #334b6e,
    900 : #243a5b,
    A100 : #9fc3ff,
    A200 : #6ca3ff,
    A400 : #3984ff,
    A700 : #1f74ff,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

