<div class="registration-footer">
  <div class="arrow-text-container arrow-text-l" *ngIf="notFirstPage">
    <app-arrow-text
      (click)="previous()"
      [mainText]="previousStepObject.title"
      [isRight]="false"
    ></app-arrow-text>
  </div>
  <div
    class="arrow-text-container arrow-text-r"
    *ngIf="notLastPage; else button"
  >
    <app-arrow-text
      [class.disabled]="!isAbleToProceed"
      [disabled]="!isAbleToProceed"
      (click)="next()"
      [mainText]="nextStepObject.title"
      [isRight]="true"
    ></app-arrow-text>
  </div>
  <ng-template #button>
    <div class="button-register-container">
      <button
        [disabled]="!isAbleToProceed"
        class="button-register"
        (click)="next()"
        nz-button
        nzType="primary"
        translate
      >
        Confirm
      </button>
    </div>
  </ng-template>
</div>
