<app-confirm-content [eventName]="eventName"></app-confirm-content>
<div class="confirm-container">
  <div
    class="topic-container"
    *ngFor="
      let questionsGroup of questions$ | async | slice: 0:length - 1;
      index as i
    "
  >
    <span class="group-name">
      {{ step[i].title }}
    </span>
    <div *ngFor="let question of questionsGroup">
      <ng-container [ngSwitch]="question.type">
        <ng-container *ngSwitchCase="'DROPDOWN'">
          {{ question.label + ': ' + question.choices[question.value] }}
        </ng-container>
        <ng-container *ngSwitchCase="'IMAGE'">
          {{ question.label + ': ' }}
          <img class="image-upload" [src]="getImage(question.key)" />
        </ng-container>
        <ng-container *ngSwitchDefault>
          {{ question.label + ': ' + question.value }}
        </ng-container>
      </ng-container>
    </div>
  </div>
</div>
