<h1>This is home la!</h1>
<h2>Message from service : {{ service.message }}</h2>
<button (click)="changeMessage()">Click to change</button>

<h2>Message from service (observable) : {{ service.message$ | async }}</h2>
<button (click)="changeRxMessage()">
  Click to change message in observable
</button>
<div class="event">
  <h3>
    Event List get by API
  </h3>
  <div>
    {{ event$ | async | json }}
  </div>
  <div>
    {{ org$ | async | json }}
  </div>
</div>
<app-logo></app-logo>
example
<app-example></app-example>

<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Shiba Inu</mat-card-title>
    <mat-card-subtitle>Dog Breed</mat-card-subtitle>
  </mat-card-header>
  <img
    mat-card-image
    src="https://material.angular.io/assets/img/examples/shiba2.jpg"
    alt="Photo of a Shiba Inu"
  />
  <mat-card-content>
    <p>
      The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
      A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
      bred for hunting.
    </p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions>
</mat-card>
