<div
  [ngClass]="{ 'flex-right': isRight, 'flex-left': !isRight }"
  class="arrow-container"
>
  <ng-container *ngIf="isRight; else left">
    <div class="topic">
        <app-topic  mainTextSize= 12px mainTextColor= #ABD0FF mainText="ขั้นตอนถัดไป" subTextSize= 14px subTextColor= #FFFFFF subText="ข้อมูลฝ่ายงาน"></app-topic>
    </div>
    <i
      class="arrow arrow-right"
      nz-icon
      nzType="arrow-right"
      nzTheme="outline"
      nzColor="#FFFFFF"
    ></i>
  </ng-container>
  <ng-template #left>
    <i
      class="arrow arrow-left"
      nz-icon
      nzType="arrow-left"
      nzTheme="outline"
      nzColor="#FFFFFF"
    ></i>
    <div class="topic">
      <app-topic  mainTextSize= 12px mainTextColor= #ABD0FF mainText="ขั้นตอนก่อนหน้า" subTextSize= 14px subTextColor= #FFFFFF subText="ข้อมูลฝ่ายงาน"></app-topic>
    </div>
  </ng-template>
</div>
