.arrow {
  font-size: 18px;
  color: #ffffff;
  &-right {
    margin-left: 20px;
  }
  &-left {
    margin-right: 20px;
  }
  &-container {
    align-items: center;
    display: flex;
  }
}

.text {
  &-container {
    display: flex;
    flex-direction: column;
  }
  &-main {
    color: #ffffff;
    font-size: 14px;
  }
  &-sub {
    font-size: 12px;
    color: #abd0ff;
  }
}

.invisible-button {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  display: flex;
  &:disabled {
    opacity: 0.5;
  }
  &:not([disabled]):hover {
    opacity: 0.7;
  }
}

.text {
  &-right {
    text-align: right;
  }
  &-left {
    text-align: left;
  }
}

@media (max-width: 576px) {
  .invisible-button {
    &:not([disabled]):hover {
      opacity: 1;
    }
  }
}