<button class="invisible-button" [disabled]="disabled">
  <div class="arrow-container" appSwap [isSwapped]="isRight">
    <div class="topic">
      <app-topic
        mainTextSize="12px"
        mainTextColor="#ABD0FF"
        [mainText]="isRight ? 'Next Step' : 'Previous Step'"
        subTextSize="14px"
        subTextColor="#FFFFFF"
        [subText]="mainText"
      ></app-topic>
    </div>
    <i
      class="arrow"
      [ngClass]="{ 'arrow-right': isRight, 'arrow-left': !isRight }"
      nz-icon
      [nzType]="isRight ? 'arrow-right' : 'arrow-left'"
      nzTheme="outline"
      nzColor="#FFFFFF"
    ></i>
  </div>
</button>
