<button class="invisible-button" [disabled]="disabled">
  <div class="arrow-container" appSwap [isSwapped]="isRight">
    <div class="topic">
      <app-topic
        mainTextSize="12px"
        [mainText]="isRight ? 'Next Step' : 'Previous Step'"
        subTextSize="14px"
        [theme]="theme"
        [subText]="mainText"
      ></app-topic>
    </div>
    <mat-icon
      class="arrow"
      [ngClass]="{ 'arrow-right': isRight, 'arrow-left': !isRight }"
      aria-hidden="false"
      aria-label="Arrow"
      >{{ isRight ? 'arrow_forward' : 'arrow_back' }}</mat-icon
    >
  </div>
</button>
