<div class="term-container">
  <form [formGroup]="form">
    <div
      class="form-row"
      *ngFor="let question of processedQuestions$ | async; index as i"
    >
      <section class="term-label">
        <mat-checkbox
          matInput
          type="checkbox"
          [id]="'checkbox-' + i"
          [value]="question.description"
          (change)="modifyCheckboxValue($event, question.key)"
          [formControlName]="question.key"
        >
          {{ question.label }}
        </mat-checkbox>
      </section>
    </div>
  </form>
</div>
