@import 'src/styles-variables.scss';

.search {
  @include text-style-caption;
  display: flex;
  align-items: center;
  border-radius: 999px;
  padding: 5px 10px;
  &-input {
    width: 100%;
    margin-left: 8px;
    border: none;
    outline: none;
  }
  &-icon {
    font-size: 13px;
    height: 13px;
    width: 13px;
  }
}
