.registration-footer {
  background: #4c688b;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
  padding: 20px 40px;
  display: grid;
  grid-template-columns: auto auto auto;
}

.arrow-text {
  &-l {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-end: 2;
    justify-content: flex-start;
  }
  &-r {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-end: 2;
    justify-content: flex-end;
  }
  &-container {
    display: flex;
  }
}

.button-register {
  font-size: 12px;
  line-height: 16px;
  color: #205496;
  padding-left: 37px;
  padding-right: 37px;
  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  &-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-end: 2;
  }
}

.disabled {
  pointer-events: none;
}
