@import 'src/styles-variables.scss';

.card-container {
  max-width: 20%;
  &.list-small {
    max-width: 100%;
    max-height: 100px;
  }

  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  &.list-small {
    flex-direction: row;
    align-items: center;
  }

  overflow: hidden;

  .image-container {
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      margin-bottom: 0;
      object-fit: cover;
      object-position: 0 50%;
    }
  }
  &.list-small {
    .image-container {
      min-width: 100px;
      max-width: 200px;
      flex-basis: 30%;
    }
  }

  .content-container {
    padding: 1em;
    .title {
      @include text-style-h6;
    }
    .datetime {
      display: inline-flex;
      align-items: center;
      @include text-style-body2;
      .mat-icon {
        margin-right: 0.5em;
      }
    }
  }
}
