<div nz-row class="grid-container">
  <form [formGroup]="form">
    <div nz-row *ngFor="let question of processedQuestions">
      <app-form-input
        class="grid-items"
        nz-col
        nzSpan="12"
        [question]="question[0]"
        [form]="form"
      ></app-form-input>
      <app-form-input
        *ngIf="question.length == 2"
        class="grid-items"
        nz-col
        nzSpan="12"
        [question]="question[1]"
        [form]="form"
      ></app-form-input>
    </div>
  </form>
</div>
