.grid-items {
  padding: 0 20px 20px 20px;
}

.grid-container {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
  width: 657px;
  padding: 20px;
}

.confirm-text-container {
  padding: 0 20px 20px 20px;
}

.topic-question-page {
  margin: 0 0 32px 20px;
}

.topic-confirm-page {
  margin: 0 0 24px 20px;
}
