.grid-items {
  padding: 0 20px 20px 20px;
}

.grid-container {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
  width: 657px;
  padding: 20px;
}

.topic {
  margin: 0 0 32px 20px;
}