$mat-openreg-indigo: (
  50: #e4e4e8,
  100: $indigo-light,
  200: #8f8fa1,
  300: #62627b,
  400: #41415e,
  500: $indigo-main,
  600: #1b1b3c,
  700: $indigo-dark,
  800: #12122b,
  900: #0a0a1d,
  A100: #5d5dff,
  A200: #2a2aff,
  A400: #0000f6,
  A700: #0000dd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff,
  ),
);

$mat-openreg-mint: (
  50: #f1fff8,
  100: $mint-light,
  200: #c7ffe1,
  300: #b0ffd4,
  400: #9fffcb,
  500: $mint-main,
  600: #86ffbc,
  700: $mint-dark,
  800: #71ffac,
  900: #5fff9f,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #e9fff1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mat-openreg-carrot: (
  50: #fff3ea,
  100: $warning-light,
  200: #ffcba6,
  300: #ffb682,
  400: #ffa767,
  500: $warning-main,
  600: #ff8f45,
  700: $warning-dark,
  800: #ff7a33,
  900: #ff6924,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffdfd2,
  A700: #ffcdb8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
