@import '../../../../styles-variables-themes.scss';
@import '../../../../styles-variables.scss';

.tag-card {
  display: flex;
  padding: 5px 7px !important;
  max-height: 24px;
  width: fit-content;
  border-radius: 2px;
  color: $indigo-light !important;
  font-weight: bold;
  font-size: 14px;
  mat-card-subtitle {
    font-weight: bold;
    font-size: 14px;
    color: $indigo-light;
  }
}
