<nz-layout>
  <nz-header nz-row nzMode="horizontal">
    <ng-container *ngIf="currentUser$ | async as user">
      <div nz-col nzSpan="6">
        <p style="color: white">
          Hello {{ user.info.firstName }} {{ user.info.lastName }}
        </p>
      </div>
      <button
        nz-col
        nz-offset="12"
        nzSpan="6"
        nz-button
        nzType="primary"
        (click)="logoutSSO()"
      >
        Logout from ChulaSSO
      </button>
    </ng-container>
  </nz-header>
  <nz-content>
    <ng-container *ngIf="formId$ | async as formId">
      <app-form [formId]="formId"></app-form>
    </ng-container>
  </nz-content>
  <nz-footer>Project Open Registration by Thinc.</nz-footer>
</nz-layout>
<!-- <button (click)="debug()"></button> -->
