@import 'src/styles-variables';

.custom-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 32px 56px;

  &-content {
    width: 100%;

    .form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .full-width {
        width: 100%;
      }
    }
  }
}

.container {
  width: 100%;
  display: block;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  padding-left: 8 * 2px;
  padding-right: 8 * 2px;

  @include breakpoint-md-up() {
    max-width: $md;
    padding-left: 8 * 3px;
    padding-right: 8 * 3px;
  }
}
