// setting breakpoint sizes here
$xs: 0px;
$sm: 480px;
$md: 600px;
$lg: 1024px;
$xl: 1366px;

$breakpoints: (
  xs: $xs,
  sm: $sm,
  md: $md,
  lg: $lg,
  xl: $xl,
);

// XS breakpoints
@mixin breakpoint-xs-down {
  @media screen and (max-width: $xs) {
    @content;
  }
}

@mixin breakpoint-xs-up {
  @media screen and (min-width: $xs) {
    @content;
  }
}

@mixin breakpoint-xs-only {
  @media screen and (min-width: $xs) and (max-width: $sm) {
    @content;
  }
}

// SM breakpoints
@mixin breakpoint-sm-down {
  @media screen and (max-width: $sm) {
    @content;
  }
}

@mixin breakpoint-sm-up {
  @media screen and (min-width: $sm) {
    @content;
  }
}

@mixin breakpoint-sm-only {
  @media screen and (min-width: $xs) and (max-width: $md) {
    @content;
  }
}

// MD breakpoints
@mixin breakpoint-md-down {
  @media screen and (max-width: $md) {
    @content;
  }
}

@mixin breakpoint-md-up {
  @media screen and (min-width: $md) {
    @content;
  }
}

@mixin breakpoint-md-only {
  @media screen and (min-width: $sm) and (max-width: $lg) {
    @content;
  }
}

// LG breakpoints
@mixin breakpoint-lg-down {
  @media screen and (max-width: $lg) {
    @content;
  }
}

@mixin breakpoint-lg-up {
  @media screen and (min-width: $lg) {
    @content;
  }
}

@mixin breakpoint-lg-only {
  @media screen and (min-width: $md) and (max-width: $xl) {
    @content;
  }
}

// XL breakpoints
@mixin breakpoint-xl-down {
  @media screen and (max-width: $xl) {
    @content;
  }
}

@mixin breakpoint-xl-up {
  @media screen and (min-width: $xl) {
    @content;
  }
}

@mixin breakpoint-xl-only {
  @media screen and (min-width: $lg) and (max-width: $xl) {
    @content;
  }
}
