$indigo-light: #39397a;
$indigo-main: #1f1f42;
$indigo-dark: #181834;

$mint-light: #afffd4;
$mint-main: #8effc2;
$mint-dark: #5bf9a4;

$warning-light: #ffb37c;
$warning-main: #ff974c;
$warning-dark: #ff7d1e;

$yellow-light: #ffef5b;
$yellow-main: #ffde30;
$yellow-dark: #f4c315;

$error-light: #ff72a6;
$error-main: #ff498b;
$error-dark: #e82d72;

$success-light: #19d2a6;
$success-main: #18b28d;
$success-dark: #0b9674;

$purple-light: #8f6af8;
$purple-main: #6d46db;
$purple-dark: #593ab3;

$mono-0: #ffffff;
$mono-1: #f2f2f2;
$mono-2: #e0e0e0;
$mono-3: #bdbdbd;
$mono-4: #828282;
$mono-5: #4f4f4f;
$mono-6: #333333;

$cream-main: #fee9c2;
$red-main: #ff495f;
$blue-main: #25c3f5;
