/* these variable (still) not included in current angular material custom theme feel free to use it directly */

$mono-0: #ffffff;
$mono-1: #f2f2f2;
$mono-2: #e0e0e0;
$mono-3: #bdbdbd;
$mono-4: #828282;
$mono-5: #4f4f4f;
$mono-6: #333333;

$cream-main: #fee9c2;
$red-main: #ff495f;
$blue-main: #25c3f5;
