@import './styles-variables-themes.scss';
@import './styles-texts.scss';
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();
@import './themes/default-theme/index.scss';

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

@import './app/core/components/example/example.component-theme.scss';

@mixin custom-components-theme($theme) {
  @include example-component-theme($theme);
}

.openreg-light-theme {
  @include angular-material-theme($openreg-default-theme);
  @include custom-components-theme($openreg-default-theme);
}

.openreg-dark-theme {
  @include angular-material-theme($openreg-default-theme-dark);
  @include custom-components-theme($openreg-default-theme-dark);
}

@import './styles-reset.scss';

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
  box-sizing: border-box;
  background-color: $indigo-main;
}
