/* You can add global styles to this file, and also import other style files */

@font-face {
  font-family: 'Noto Sans Thai UI Med';
  src: url('assets/fonts/NotoSansThaiUI-Medium.woff2') format('woff2'),
    url('assets/fonts/NotoSansThaiUI-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai UI';
  src: url('assets/fonts/NotoSansThaiUI-Regular.woff2') format('woff2'),
    url('assets/fonts/NotoSansThaiUI-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans Thai';
  src: url('assets/fonts/NotoSansThai-Bold.woff2') format('woff2'),
    url('assets/fonts/NotoSansThai-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-Regular.woff2') format('woff2'),
    url('assets/fonts/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-Medium.woff2') format('woff2'),
    url('assets/fonts/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('assets/fonts/Inter-Bold.woff2') format('woff2'),
    url('assets/fonts/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Noto Sans Thai UI', 'Inter';
}

.ant-select-selection {
  background-color: #f9f9f9;
  border-radius: 6px;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.02);
  border: 0;
}

.ant-select-selection:focus {
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.02);
}

.ant-radio-checked .ant-radio-inner {
  border-color: #f4f4f4;
}

.ant-radio .ant-radio-inner {
  border-color: #f4f4f4;
}

.ant-radio-input:focus + .ant-radio-inner {
  border-color: #f4f4f4;
}

.ant-select-dropdown-menu-item {
  font-weight: 600;
  border-top: 1.5px solid #dfdede;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f9f9f9;
  border-radius: 0;
  color: #4b4b4b;
}

.ant-select-dropdown-menu-item-active:not(.ant-select-dropdown-menu-item-disabled) {
  background-color: #dce9f9;
}

.ant-select-dropdown-menu-item:first-child {
  border-radius: 0;
}

.ant-select-dropdown {
  border-radius: 0;
  box-shadow: 0;
}

nz-layout {
  min-height: 100vh !important;
}
