// import Chula font
@import 'src/assets/fonts/chulalongkorn/stylesheet.scss';

// import Maitree font
@import url(https://fonts.googleapis.com/css?family=Maitree);

@mixin text-style-h1 {
  font: 96px normal chulalongkornbold;
  letter-spacing: -1.5px;
}

@mixin text-style-h2 {
  font: 60px normal chulalongkornbold;
  letter-spacing: -0.5px;
}

@mixin text-style-h3 {
  font: 48px normal chulalongkornregular;
}

@mixin text-style-h4 {
  font: 34px normal chulalongkornbold;
  letter-spacing: 0.25px;
}

@mixin text-style-h5 {
  font: 24px normal chulalongkornregular;
}

@mixin text-style-h6 {
  font: 20px normal chulalongkornbold;
  letter-spacing: 0.15px;
}

@mixin text-style-body1 {
  font: 18px normal Maitree;
  letter-spacing: 0.5px;
  line-height: 28px;
}

@mixin text-style-body2 {
  font: 14px normal Maitree;
  letter-spacing: 0.25px;
  line-height: 20px;
}

@mixin text-style-subtitle1 {
  font: 16px normal Maitree;
  letter-spacing: 0.15px;
  line-height: 24px;
}

@mixin text-style-subtitle2 {
  font: 24px bold Maitree;
  line-height: 24px;
}

@mixin text-style-button {
  font: 18px normal chulalongkornbold;
  letter-spacing: 0.75px;
  line-height: 16px;
}

@mixin text-style-caption {
  font: 12px normal Maitree;
  letter-spacing: 0.4px;
  line-height: 16px;
}

@mixin text-style-overline {
  font: 10px normal chulalongkornbold;
  letter-spacing: 1.5px;
  line-height: 16px;
}

@mixin text-style-label {
  font: 18px bold Maitree;
  letter-spacing: 1.5px;
  line-height: 16px;
}

@mixin text-style-error {
  font: 14px bold Maitree;
  letter-spacing: 0.4px;
  line-height: 16px;
}
