.content-container {
  background: #ffffff;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
  width: 657px;
  margin: auto;
}

@media (max-width: 576px) {
  .content-container {
    width: auto;
  }
}

.topic-container {
  padding: 40px 40px 0 40px;
}
